{
	admin off
	auto_https off
	persist_config off
}

:8080 {
	@cloudflare header Cf-Ray *
	request_header @cloudflare Accept-Encoding {http.request.header.X-Onekb-Accept-Encoding}
	header {
		-Server
		-Etag
		-Last-Modified
		-Accept-Ranges
		defer
	}
	@http header X-Forwarded-Proto http
	handle @http {
		header Location https://tomkimberlin.com{uri}
		respond "" 301
	}
	@www host www.tomkimberlin.com
	handle @www {
		header Location https://tomkimberlin.com{uri}
		respond "" 301
	}
	@home path /
	handle @home {
		header {
			Cache-Control max-age=86400,no-transform
			Content-Type text/html
		}
		root * /srv/current/public
		file_server {
			precompressed br gzip
		}
	}
	@index path /index.html
	handle @index {
		header Location /
		respond "" 301
	}
	@github path /g
	handle @github {
		header {
			Location https://github.com/tomkimberlin
			Cache-Control max-age=86400
		}
		respond "" 301
	}
	respond "" 404
}
